<p id="notice"><%= notice %></p>

<h1>Asignaciones</h1>

<table>
  <thead>
    <tr>
      <th class="center">User</th>
      <th class="center">Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignmentes.each do |assignment| %>
      <tr>
        <td><%= assignment.user %></td>
        <td><%= assignment.role %></td>
        <td><%= link_to 'Mostrar', assignment %></td>
        <td><%= link_to 'Editar', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Eliminar', assignment, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Asignacion', new_assignment_path %>
