<br>
<div class="col-md-offset-4 col-md-4">
  
 <%= simple_form_for(@asistencia) do |f| %>
  <% if asistencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asistencia.errors.count, "error") %> No se puede guardar los datos, error en uno de los campos:</h2>
      <ul>
        <% asistencia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="col-md-14 col-sm-14">
      <%= f.input :fecha, as: :datetime_picker, readonly: true,
        input_html: {value: asistencia.fecha.try(:strftime, '%d/%m/%Y'),
          data: {date_options: {format: 'DD/MM/YYYY', ignoreReadonly: true}}} %>
    </div>
    
      <%= f.label :ciudad %>
     	<%= f.text_field :ciudad, :required => true, class:'form-control' %>
      <%= f.association :persona%>
      
      <%= f.association :evento%>
     
      <%= f.label :objetivo %>
     	<%= f.text_field :objetivo, :required => true, class:'form-control', as: "text" %>
  <br>   
    <div class="actions">
      <%= f.submit " Guardar", class: "btn btn-default btn-lg btn-block" %>
    </div>
 <% end %>

  <% if @mostrar == true %>
    <%= link_to '<i class="fa fa-eye fa-2x" aria-hidden="true "></i>'.html_safe, @asistencia %>
  <% end %>
  <br>
  <br>
  <%= link_to '<i class="fa fa-reply fa-2x" aria-hidden="true"></i>'.html_safe, asistencias_path %>
</div>
