<br>
  <h2 class="text-center"><b>LISTA DE ASISTENCIAS</b></h2>

  <div class="well well-sm, col-md-offset-4">
    <%= form_tag asistencias_path, class: "form-inline", method: 'get' do %>
  	  <label>BUSCAR:</label>
       	<%= search_field_tag :search, params[:search], :class => "form-control", placeholder: "Ingrese fecha", size: "31" %>
       	  <button class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
    <% end %>
  </div>
<br>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="center">FECHA</th>
      <th class="center">CIUDAD</th>
      <th class="center">OBJETIVO</th>
      <th class="center">PERSONA</th>
      <th class="center">EVENTO</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @asistencias.each do |asistencia| %>
      <tr>
        <td class="center"><%= asistencia.fecha %></td>
        <td class="center"><%= asistencia.ciudad %></td>
        <td class="center"><%= asistencia.objetivo %></td>
        <td class="center"><%= asistencia.persona.try(:nombres) %></td>
        <td class="center"><%= asistencia.evento.try(:asunto) %></td>
        <td><%= link_to '<i class="fa fa-eye fa-2x" title="MOSTRAR"></i>'.html_safe, asistencia, remote: true %></td>
        <td><%= link_to '<i class="fa fa-pencil-square fa-2x" title="EDITAR"></i>'.html_safe, edit_asistencia_path(asistencia) %></td>
        <td><%= link_to '<i class="fa fa-times fa-2x" title="ELIMINAR"></i>'.html_safe, asistencia, method: :delete, data: { confirm: 'Está seguro de eliminar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to '<i class="fa fa-plus-square fa-2x" title="AGREGAR ASISTENCIA"></i>'.html_safe, new_asistencia_path %>
&nbsp; &nbsp; <%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, asistencias_path %>
&nbsp; &nbsp; &nbsp; Asistencias: <%= @asistencias.count %>
&nbsp; &nbsp; &nbsp;<%=will_paginate@asistencias,:previous_label =>'&laquo; Anterior',:next_label =>'Siguiente &raquo;' %>

 


