 <br> <#%este es el formulario que muestra al ser solicitado en mostrar
 <p>
    <strong>Fecha:</strong>
    <%= @asistencia.fecha %>
  </p>
  
  <p>
    <strong>Ciudad:</strong>
    <%= @asistencia.ciudad %>
  </p>
  
  <p>
    <strong>Objetivo:</strong>
    <%= @asistencia.objetivo %>
  </p>
  
  <p>
    <strong>Persona:</strong>
    <%= @asistencia.persona.try(:nombres) %>
  </p>
  
  <p>
    <strong>Evento:</strong>
    <%= @asistencia.evento.try(:asunto) %>
  </p>
  
  <td><%= link_to '<i class="fa fa-pencil-square fa-2x" title="Editar"></i>'.html_safe, edit_asistencia_path(@asistencia) %></td>
  <br>
  <br>
  <td><%= link_to '<i class="fa fa-reply fa-2x" title="Atras"></i>'.html_safe, asistencias_path %></td>


