<br>
  <h2><center><b>LISTA DE CARGOS</b></center></h2>
    <div class="well well-sm, col-md-offset-4">
      <%= form_tag cargos_path, class: "form-inline", method: 'get' do %>
        <label>BUSCAR:</label>
          <%= search_field_tag :search, params[:search], :class => "form-control", placeholder: "Ingrese cargo", size: "31" %>
            <button class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
      <% end %>
    </div>
      <br>
       <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="center">NOMBRE</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @cargos.each do |cargo| %>
              <tr>
                <td class="center"><%= cargo.nombre %></td>
                <td><%= link_to '<i class="fa fa-eye fa-2x" title="MOSTRAR"></i>'.html_safe, cargo, remote: true %></td>
                <td><%= link_to '<i class="fa fa-pencil-square fa-2x" title="EDITAR"></i>'.html_safe, edit_cargo_path(cargo) %></td>
                <td><%= link_to '<i class="fa fa-times fa-2x" title="ELIMINAR"></i>'.html_safe, cargo, method: :delete, data: { confirm: 'Está seguro de eliminar este registro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
      <br>
    <%= link_to '<i class="fa fa-plus-square fa-2x" title="AGREGAR CARGO"></i>'.html_safe, new_cargo_path %>
    &nbsp; &nbsp; <%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, cargos_path %>
  &nbsp; &nbsp; Cargos: <%= @cargos.count %>
&nbsp; &nbsp; <%=will_paginate@cargos, :previous_label =>'&laquo; Anterior',:next_label =>'Siguiente &raquo;' %>
<%# 1.codigo para mostrar la lista de cargos. #%> 
<%# 2.codigo para el buscado por nombre, y el boton (lupa). #%>
<%# 3.codigo para la tabla, mostrar, editar, eliminar. #%>
<%# 4.codigo para agregar un nuevo registro y me lleva al form. #%>
<%# 5.codigo para contar cantidad de cargos y cantidad de paginar llenas #%>