<p id="notice"><%= notice %></p>

<p>
  <strong>Good min:</strong>
  <%= @valuation.good_min %>
</p>

<p>
  <strong>Good max:</strong>
  <%= @valuation.good_max %>
</p>

<p>
  <strong>Level1:</strong>
  <%= @valuation.level1 %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @valuation.image1 %>
</p>

<p>
  <strong>Vuln min:</strong>
  <%= @valuation.vuln_min %>
</p>

<p>
  <strong>Vuln max:</strong>
  <%= @valuation.vuln_max %>
</p>

<p>
  <strong>Level2:</strong>
  <%= @valuation.level2 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @valuation.image2 %>
</p>

<p>
  <strong>Low min:</strong>
  <%= @valuation.low_min %>
</p>

<p>
  <strong>Low max:</strong>
  <%= @valuation.low_max %>
</p>

<p>
  <strong>Level3:</strong>
  <%= @valuation.level3 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @valuation.image3 %>
</p>

<p>
  <strong>Low min:</strong>
  <%= @valuation.low_min %>
</p>

<p>
  <strong>Low max:</strong>
  <%= @valuation.low_max %>
</p>

<p>
  <strong>Level3:</strong>
  <%= @valuation.level3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @valuation.image4 %>
</p>

<%= link_to 'Edit', edit_valuation_path(@valuation) %> |
<%= link_to 'Back', valuationes_path %>
