<p id="notice"><%= notice %></p>

<h1>Tipos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |typ| %>
      <tr>
        <td><%= typ.name %></td>
        <td><%= link_to 'Mostrar', typ %></td>
        <td><%= link_to 'Editar', edit_typ_path(typ) %></td>
        <td><%= link_to 'Eliminar', typ, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo tipo', new_typ_path %>
