<fieldset>
  <div class="row">
    <div class="col-md-3">
      <%=f.input :hora, input_html:{data:{hora: true}} %>
    </div> 
    <div class="col-md-3">
      <%= f.label :nombre %>
      <%= f.text_field :nombres, data:{nombre: true}, label: false, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.input :documento, input_html:{data:{documento: true}} %>
    </div>
    <div class="col-md-3">
      <%= f.label :empresa %>
      <%= f.text_field :empresa, data:{empresa: true}, label: false, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :email %>
      <%= f.text_field :email, data:{email: true}, label: false, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :telefono %>
      <%= f.text_field :telefono, data:{telefono: true}, label: false, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.input :codigo, input_html:{data:{codigo: true}} %>
    </div>
    <div class="col-md-2">
      <%= f.association :cargo, input_html:{data:{cargo: true}}, :prompt=>"Seleccione un Cargo" %>
    </div>
    <div class="col-md-">
      <%= f.hidden_field :_destroy %>
        <%= link_to "Eliminar", '#', class: "remove_fields btn btn-danger" %>
    </div>
  </div>
  <hr>
</fieldset>
<%#ok%>
