<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
      	</button>
      	  <h2 class="modal-title"><center><b>INFORMACIÓN DEL EVENTO</b></center></h2>
    	</div>
    	<div class="modal-body">
      	<div class="row">
          <div class="col-md-3">        
            <strong>Nombre:</strong>
            <%= @evento.asunto %>
          </div>
          
          <div class="col-md-3">
            <strong>Fecha:</strong>
            <%= @evento.fecha %>
          </div>
          
          <div class="col-md-3">
            <strong>Hora:</strong>
            <%= @evento.hora %>
          </div>
          
          <div class="col-md-3">
            <strong>Ubicacion:</strong>
            <%= @evento.ubicacion %>
          </div>
          
          <% if @evento.personas.any? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Valor</th>
                </tr>
              <thead>
              <% @venta.detalles.each do |detalle| %>
              <tbody2>
                <tr>
                  <td><%= link_to detalle.id, detalle %></td>
                  <td><%= detalle.producto.try(:nombre) %></td>
                  <td><%= detalle.cantidad_producto %></td>
                  <td><%= number_with_delimiter(detalle.valor, delimiter: ".")  %></td>
                </tr>
              </tbody2>
              <% end %>
            </table>
            <% else %>
              <p>No hay personas</p>
        <% end %>
	      </div>
      	  <div class="modal-footer"></div>
  	  </div>
    </div>
  </div>
</div>


