<br>
<h1 class="text-center">Eventos</h1>

  <div class="well well-sm, col-md-offset-4">
    <%= form_tag eventos_path, class: "form-inline", method: 'get' do %>
    	<label>Buscar:</label>
        <%= search_field_tag :search, params[:search], :class => "form-control", placeholder: "Ingrese Asunto", size: "31" %>
          <button class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
    <% end %>
  </div>
  
<br>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Ubicacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.asunto %></td>
        <td><%= evento.fecha %></td>
        <td><%= evento.hora %></td>
        <td><%= evento.ubicacion %></td>
        <td><%= link_to '<i class="fa fa-eye fa-2x" aria-hidden="true"></i>'.html_safe, evento %></td>
        <td><%= link_to '<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>'.html_safe, edit_evento_path(evento) %></td>
        <td><%= link_to '<i class="fa fa-times fa-2x" aria-hidden="true"></i>'.html_safe, evento, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
   </tbody>
</table>
<br>
<%= link_to '<i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>'.html_safe, new_evento_path %>
&nbsp; &nbsp;Eventos: <%= @eventos.count %>
&nbsp; &nbsp; <%=will_paginate@criadores,:previous_label =>'&laquo; Anterior',:next_label =>'Siguiente &raquo;' %>





