<br>
<p>
  <strong>Asunto:</strong>
  <%= @evento.asunto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @evento.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @evento.hora %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @evento.ubicacion %>
</p>

<td><%= link_to '<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>'.html_safe, edit_evento_path(@evento) %></td>
<br>
<br>
<td><%= link_to '<i class="fa fa-reply fa-2x" aria-hidden="true"></i>'.html_safe, eventos_path %></td>
