<h2><center><b>INFORMACIÓN DEL EVENTO</b></center></h2>
<br>
  <div class="row">
    <div class="col-md-3">        
      <strong>Nombre:</strong>
        <%= @evento.asunto %>
    </div>
    <div class="col-md-3">
      <strong>Fecha:</strong>
        <%= @evento.fecha %>
    </div>
    <div class="col-md-3">
      <strong>Hora:</strong>
        <%= @evento.hora %>
    </div>
    <div class="col-md-3">
      <strong>Ubicacion:</strong>
        <%= @evento.ubicacion %>
    </div>
    <br><br>
  </div>
  
    <% if @evento.personas.any? %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="center">Nombres</th>
            <th class="center">Documento</th>
            <th class="center">Empresa</th>
            <th class="center">Email</th>
            <th class="center">Telefono</th>
            <th class="center">Código</th>
            <th class="center">Cargo</th>
            <% if can? :manage, :all %>
              <th colspan="1"></th>
            <% end %>
          </tr>
        <thead>
        <% @evento.personas.each do |persona| %>
          <tbody2>
            <tr>
              <td class="center"><%= persona.nombres %></td>
              <td class="center"><%= persona.documento %></td>
              <td class="center"><%= persona.empresa %></td>
              <td class="center"><%= persona.email %></td>
              <td class="center"><%= persona.telefono %></td>
              <td class="center"><%= persona.codigo %></td>
              <td class="center"><%= persona.cargo.try(:name) %></td>
              <% if can? :manage, :all %>
                <td> <%= link_to '<i class="fa fa-eye fa-2x" title="MOSTRAR"></i>'.html_safe, persona,remote: true %> </td>
              <% end %>
            </tr>
          </tbody2>
        <% end %>
      </table>
      <% else %>
        <p>No hay asistencias</p>
    <% end %>
<% if can? :manage, :all %>
  &nbsp; &nbsp; <%= link_to '<i class="fa fa-pencil-square fa-2x" title="EDITAR"></i>'.html_safe, edit_evento_path(@evento) %>
<% end %>
&nbsp; &nbsp; <%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, eventos_path %>

