<br>
<h2 class="text-center"><b>LISTA DE PERSONAS</b></h2>
  <div class="well well-sm, col-md-offset-4">
    <%= form_tag personas_path, class: "form-inline", method: 'get' do %>
      <label>BUSCAR:</label>
        <%= search_field_tag :search, params[:search], :class => "form-control", placeholder: "Ingrese Nombre", size: "30" %>
          <button class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
    <% end %>
  </div>
    <br>
     <div class="table-responsive">
      <table class="table table-hover table-striped center">
        <thead>
          <tr>
            <th class="center">NOMBRE</th>
            <th class="center">DOCUMENTO</th>
            <th class="center">CODIGO</th>
            <th class="center">CARGO</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @personas.each do |persona| %>
            <tr>
              <td class="center"><%= persona.nombres %></td>
              <td class="center"><%= persona.documento %></td>
              <td class="center"><%= persona.show_barcode(persona.codigo).html_safe %><p><%= persona.codigo %></p></td>
              <td class="center"><%= persona.cargo.try(:nombre) %></td>
              <td><%= link_to '<i class="fa fa-eye fa-2x" title="MOSTRAR"></i>'.html_safe, persona, remote: true %></td>
              <td><%= link_to '<i class="fa fa-pencil-square fa-2x" title="EDITAR"></i>'.html_safe, edit_persona_path(persona) %></td>
              <td><%= link_to '<i class="fa fa-times fa-2x" title="ELIMINAR"></i>'.html_safe, persona, method: :delete, data: { confirm: 'Está seguro de eliminar este registro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
  <%= link_to '<i class="fa fa-plus-square fa-2x" title="AGREGAR REGISTRO"></i>'.html_safe, new_persona_path %>
&nbsp; &nbsp; <%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, personas_path %>
&nbsp; &nbsp;&nbsp;Personas: <%= @personas.count %>
&nbsp; &nbsp;&nbsp;<%=will_paginate@personas,:previous_label =>'&laquo; Anterior',:next_label =>'Siguiente &raquo;' %>
<%#ok%>