<br>
<div class="col-md-offset-4 col-md-4">
  <%= simple_form_for(@rol) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name %>
      </div>
        <br>
          <%= button_tag(type: "submit", class: "clase-boton") do %>
            <i class="fa fa-floppy-o fa-2x" title="GUARDAR"></i>
          <% end %>
          &nbsp; &nbsp;<%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, roles_path %>
  <% end %>
    <% if @mostrar == true %>
      <%= link_to '<i class="fa fa-eye fa-2x" title="MOSTRAR"></i>'.html_safe, @rol %>
    <% end %>
      <br><br>
</div>
<%#ok%>