<br>
  <h2><center><b>LISTA DE ROLES</b></center></h2>
   <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="center">NOMBRE</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |rol| %>
          <tr>
            <td class="center"><%= rol.name %></td>
            <td><%= link_to '<i class="fa fa-eye fa-2x" title="MOSTRAR"></i>'.html_safe, rol, remote: true %></td>
            <td><%= link_to '<i class="fa fa-pencil-square fa-2x" title="EDITAR"></i>'.html_safe, edit_rol_path(rol) %></td>
            <td><%= link_to '<i class="fa fa-times fa-2x" title="ELIMINAR"></i>'.html_safe, rol, method: :delete, data: { confirm: 'Está seguro de eliminar este registro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
    <br>
  <%= link_to '<i class="fa fa-plus-square fa-2x" title="AGREGAR ROL"></i>'.html_safe, new_rol_path %>
&nbsp; &nbsp; <%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, roles_path %>
<%#ok%>