<br>
<div class="col-md-offset-4 col-md-4">
  
  <%= form_for(@usuario) do |f| %>
    <% if usuario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(usuario.errors.count, "error") %> Nos se puede guardar esta asistencia, llenar todos los campos:</h2>
        <ul>
          <% usuario.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :usuario %>
   	<%= f.text_field :usuario, :required => true, class:'form-control' %>
    <%= f.label :contraseña %>
   	<%= f.text_field :contraseña, :required => true, class:'form-control' %>
  <br>
    <div class="actions">
      <%= f.submit "Guardar", class: "btn btn-default btn-lg btn-block" %>
    </div>
  <% end %>
  
  
  <br>
  <br>
  <%= link_to '<i class="fa fa-reply fa-2x" title="ATRAS"></i>'.html_safe, usuarios_path %>
</div>
