<p><%= t('.greeting', :recipient => @resource.email, :default => "Hola #{@resource.email}!") %></p>
<p><%= t('.instruction', :default => "Alguien ha pedido un enlace para cambiar su contraseña, y usted puede hacer esto a través del siguiente enlace:.") %></p>
<p><%= link_to t('.action', :default => "Cambiar contraseña"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>
<p><%= t('.instruction_2', :default => "Si usted no ha solicitado esto, por favor, ignore este mensaje.") %></p>
<p><%= t('.instruction_3', :default => "Su contraseña no cambiará hasta que acceda al enlace de arriba y cree uno nuevo.") %></p>
<%#ok%>